.container {
    height: 100%;
    background-color: #0000d6;
}

.card {
    min-width: 250px;
}

.input {
    width: 100%;
}

#title {
    padding: 0;
    margin: 0;
}

#prediction {
    color: #E65100;
}
