.container {
    height: 100%;
    background-color: #42A5F5;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Linear_regression.svg/1200px-Linear_regression.svg.png");

}

.card {
    min-width: 250px;
}

.input {
    width: 100%;
}

#title {
    padding: 0;
    margin: 0;
}

#prediction {
    color: #E65100;
}
